a
{
  font-family: 'Lexend Tera', sans-serif;
  font-size: 12px;
}

button
{
  font-family: 'Lexend Tera', sans-serif;
}
form { 
  margin-top: 5000px;
margin: 0 auto; 
width:250px;

}



.backgroundproperties
{
  background: rgb(28,0,120);
background: linear-gradient(90deg, rgba(28,0,120,1) 16%, rgba(93,0,252,1) 57%, rgba(163,193,244,1) 100%);
}



.login
{
  color: black;
  display: block;
  width: 100px;
  height: 500px;
  background-color: white;
  margin-left: 100px;
  margin-top: 50px;
  
  
}
.block1
{
  text-align: left;

  border-radius: 0px;
  margin-left: 30px;
  margin-top:250px;
  margin-bottom: 100px;
  display: inline;
  float: center;
  
 
  background-color: rgba(255,255,255,.5);
}

input[type="text"] 
{
   margin-left: auto;
  height: 45px;
  width: 250px;
  font-size: 15px;
  margin-bottom: 20px;
  font-family: 'Lexend Tera', sans-serif;
  padding-top: 5px;
  padding-left: 10px;
  background: transparent;
  
  color: black;
  border-radius: 0px;
  border-bottom: 1px solid black;
}
.btn-login
{

  margin-top: 30px;
  margin-left: 200px;
 background: rgb(223,3,3);
background: linear-gradient(90deg, rgba(223,3,3,1) 0%, rgba(252,0,140,1) 58%, rgba(228,0,0,1) 100%);
  color: white;
  font-family: 'Lexend Tera', sans-serif;
  cursor: pointer;
  height: 30px;
  width:100px;
  border-radius: 15px;
  border: none;
  margin-bottom: 20px;
  border: none;
}



h3
{
  font-family: 'Josefin Sans', sans-serif;
}



#special
{

  padding-top: 5px;
  padding-left: 30px;
  text-align: left;
  font-family: 'Lexend Tera', sans-serif;
  font-size: 15px;
}



.input_group
{

  margin :10px;
    border-style: solid;
    border-width: 2px;
    margin-top: 13px;
    border-color: red;

}

#special_container
{
  width: 900px;
  font-family: 'Lexend Tera', sans-serif;
  font-size: 13px;

}

th
{
  border-top: solid red;
  border :1px solid red;
}
td
{
  border :1px solid red;
}
table
{
  border :1px solid red;

}
a
{
  font-family: 'Lexend Tera', sans-serif;
  font-size: 12px;
}

button
{
  font-family: 'Lexend Tera', sans-serif;
}
form { 
  margin-top: 5000px;
margin: 0 auto; 
width:250px;

}



.backgroundproperties
{
  background: rgb(28,0,120);
background: linear-gradient(90deg, rgba(28,0,120,1) 16%, rgba(93,0,252,1) 57%, rgba(163,193,244,1) 100%);
}


.container
{
  height: 670px;
  width: 1080px;
  background-image: url("images/background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.login
{
  color: black;
  display: block;
  width: 500px;
  height: 500px;
  background-color: white;
  margin-left: 100px;
  margin-top: 50px;
  
  
}
.block1
{
  text-align: left;

  border-radius: 0px;
  margin-left: 30px;
  margin-top:250px;
  margin-bottom: 100px;
  display: inline;
  float: center;
  width: 500px;
  height: 400px;
  background-color: rgba(255,255,255,.5);
}

input[type="text"] 
{
   margin-left: auto;
  height: 45px;
  width: 250px;
  font-size: 15px;
  margin-bottom: 20px;
  font-family: 'Lexend Tera', sans-serif;
  padding-top: 5px;
  padding-left: 10px;
  background: transparent;
  
  color: black;
  border-radius: 0px;
  border-bottom: 1px solid black;
}
.btn-login
{

  margin-top: 30px;
  margin-left: 200px;
 background: rgb(223,3,3);
background: linear-gradient(90deg, rgba(223,3,3,1) 0%, rgba(252,0,140,1) 58%, rgba(228,0,0,1) 100%);
  color: white;
  font-family: 'Lexend Tera', sans-serif;
  cursor: pointer;
  height: 30px;
  width:100px;
  border-radius: 15px;
  border: none;
  margin-bottom: 20px;
  border: none;
}



h3
{
  font-family: 'Josefin Sans', sans-serif;
}



#special
{

  padding-top: 5px;
  padding-left: 30px;
  text-align: left;
  font-family: 'Lexend Tera', sans-serif;
  font-size: 15px;
}



.input_group
{
  margin :10px;
    border-style: solid;
    border-width: 2px;
    margin-top: 13px;
    border-color: red;

}

/* Update css for create account Page*/


/* For title Create Account*/
.page_title {


  padding-top: 5px;
  padding-left: 30px;
  text-align: left;
  font-family: 'Lexend Tera', sans-serif;
  font-size: 28px;

}
/* to set width, height of select drop down menu for savings account*/
#select_option {
     width: 150px;
    height: 50px;
}

#select_option option {
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* to set width, height of deposit amount field*/
#deposit_amt {
    width:200px;
    height:50px;
}




/*footer css*/

footer {
  position: fixed;
  bottom: 0;
}

@media (max-height:800px) {
  footer {
    position: static;
  }
  header {
    padding-top: 40px;
  }
}

.footer-distributed {
  background-color: #2c292f;
  box-sizing: border-box;
  width: 100%;
  position: inherit;
  text-align: justify;
  font: bold 16px sans-serif;
  padding: 25px 35px 25px 35px;
  margin-top: 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
  padding: 0px 25px 0px 25px;
}


/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}


/* The company logo */

.footer-distributed .footer-left img {
  width: 30%;
}

.footer-distributed h3 span {
  color: #e0ac1c;
}


/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


/* Footer Center */

.footer-distributed .footer-center {
  width: 30%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
  ;
}


/* Footer Right */

.footer-distributed .footer-right {
  width: 25%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}


/* Here is the code for Responsive Footer */


/* You can remove below code if you don't want Footer to be responsive */

@media (max-width: 880px) {
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

.footer-heading {
  color: crimson;
  font-size: 20px;
}

.footer-right-text {
  color: antiquewhite;
  font-size: 15px;
  
}

#transfer_amt {
    height: 50px
        
}

#withdraw_amt {
    height: 50px;
}
