a
{
  font-family: 'Lexend Tera', sans-serif;
  font-size: 12px;
}

button
{
  font-family: 'Lexend Tera', sans-serif;
}
form { 
  margin-top: 5000px;
margin: 0 auto; 
width:250px;

}



.backgroundproperties
{
  background: rgb(28,0,120);
background: linear-gradient(90deg, rgba(28,0,120,1) 16%, rgba(93,0,252,1) 57%, rgba(163,193,244,1) 100%);
}


.container
{
  height: 670px;
  width: 1080px;
  background-image: url("images/background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.login
{
  color: black;
  display: block;
  width: 500px;
  height: 500px;
  background-color: white;
  margin-left: 100px;
  margin-top: 50px;
  
  
}
.block1
{
  text-align: left;

  border-radius: 0px;
  margin-left: 30px;
  margin-top:250px;
  margin-bottom: 100px;
  display: inline;
  float: center;
  width: 500px;
  height: 400px;
  background-color: rgba(255,255,255,.5);
}

input[type="text"] 
{
   margin-left: auto;
  height: 45px;
  width: 250px;
  font-size: 15px;
  margin-bottom: 20px;
  font-family: 'Lexend Tera', sans-serif;
  padding-top: 5px;
  padding-left: 10px;
  background: transparent;
  
  color: black;
  border-radius: 0px;
  border-bottom: 1px solid black;
}
.btn-login
{

  margin-top: 30px;
  margin-left: 200px;
 background: rgb(223,3,3);
background: linear-gradient(90deg, rgba(223,3,3,1) 0%, rgba(252,0,140,1) 58%, rgba(228,0,0,1) 100%);
  color: white;
  font-family: 'Lexend Tera', sans-serif;
  cursor: pointer;
  height: 30px;
  width:100px;
  border-radius: 15px;
  border: none;
  margin-bottom: 20px;
  border: none;
}



h3
{
  font-family: 'Josefin Sans', sans-serif;
}



#special
{

  padding-top: 5px;
  padding-left: 30px;
  text-align: left;
  font-family: 'Lexend Tera', sans-serif;
  font-size: 15px;
}


.input_group
{
  margin :10px;
    border-style: solid;
    border-width: 2px;
    margin-top: 13px;
    border-color: red;

}